<header class="p-3 bg-secondary border-bottom border-secondary shadow">
  <div class="container">
    <div class="d-flex flex-wrap align-items-center justify-content-between">

      <% if (typeof user !== 'undefined' && user) { %>

        <ul class="nav me-auto ms-4">
          <li>
            <a href="/" class="nav-link text-light opacity-75 hover-opacity-100">
              Agenda
            </a>
          </li>
        </ul>

        <div class="text-end">
          <a href="/contato" class="btn btn-outline-light me-2">
            + Contato
          </a>
          <a href="/login/logout" class="btn btn-primary">
            Sair
          </a>
        </div>

      <% } else { %>

        <ul class="nav me-auto ms-4">
          <li>
            <a href="/" class="nav-link text-light opacity-75">
              Início
            </a>
          </li>
        </ul>

        <div class="text-end">
          <a href="/login" class="btn btn-outline-light me-2">
            Entrar
          </a>
          <a href="/sign-up" class="btn btn-primary">
            Cadastrar
          </a>
        </div>

      <% } %>

    </div>
  </div>
</header>