<% if (sucess.length > 0) { %>
<div class="row justify-content-center">
  <div class="col-lg-4">
    <div class="alert alert-primary">
      <% sucess.forEach(val => { %>
      <%= val %><br />
      <% }); %>
    </div>
  </div>
</div>
<% } %>
